language: python
sudo: false
services:
  - mysql
  - postgresql

cache: pip

python:
  - "3.4"
  - "2.7"

branches:
  only:
    - master

env:
  - DJANGO="django>=1.10,<1.11"
  - DJANGO="django>=1.11,<1.12"

matrix:
  - DATABASE_URL='mysql://root@127.0.0.1/djangocms_test'
  - DATABASE_URL='postgres://root@127.0.0.1/djangocms_test'


before_install:
  - pip install --no-cache-dir -U -r requirements-test.txt
  - ./runflake8
  - if [[ $TRAVIS_PYTHON_VERSION == 3* ]]; then ./runisort; fi

install:
  - pip install $DJANGO
  - python setup.py -q develop

before_script:
  - ./runflake8
  - mysql -e 'create database django_freeradus;'
  - psql -c 'create database django_freeradius;' -U postgres

# command to run tests, e.g. python setup.py test
script:
  - coverage run --source=django_freeradius runtests.py

after_success:
  coveralls
